SpelAffaren/SpelAffaren/Service References/SpelAffarService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpelAffarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SpelAffarWCF" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpelAffarService_HämtaProduktViaGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProduktViaGenre" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_HämtaProduktViaGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProduktViaGenreResponse" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_HämtaProdukter_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProdukter" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_HämtaProdukter_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProdukterResponse" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_HämtaProdukt_InputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProdukt" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_HämtaProdukt_OutputMessage">
    <wsdl:part name="parameters" element="tns:HämtaProduktResponse" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_KollaKund_InputMessage">
    <wsdl:part name="parameters" element="tns:KollaKund" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_KollaKund_OutputMessage">
    <wsdl:part name="parameters" element="tns:KollaKundResponse" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_GetTopListGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopListGames" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_GetTopListGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopListGamesResponse" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_NyOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:NyOrder" />
  </wsdl:message>
  <wsdl:message name="ISpelAffarService_NyOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:NyOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpelAffarService">
    <wsdl:operation name="HämtaProduktViaGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProduktViaGenre" message="tns:ISpelAffarService_HämtaProduktViaGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProduktViaGenreResponse" message="tns:ISpelAffarService_HämtaProduktViaGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaProdukter">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProdukter" message="tns:ISpelAffarService_HämtaProdukter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProdukterResponse" message="tns:ISpelAffarService_HämtaProdukter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HämtaProdukt">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProdukt" message="tns:ISpelAffarService_HämtaProdukt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/HämtaProduktResponse" message="tns:ISpelAffarService_HämtaProdukt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KollaKund">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/KollaKund" message="tns:ISpelAffarService_KollaKund_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/KollaKundResponse" message="tns:ISpelAffarService_KollaKund_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopListGames">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/GetTopListGames" message="tns:ISpelAffarService_GetTopListGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/GetTopListGamesResponse" message="tns:ISpelAffarService_GetTopListGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NyOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISpelAffarService/NyOrder" message="tns:ISpelAffarService_NyOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISpelAffarService/NyOrderResponse" message="tns:ISpelAffarService_NyOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpelAffarService" type="tns:ISpelAffarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HämtaProduktViaGenre">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/HämtaProduktViaGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaProdukter">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/HämtaProdukter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HämtaProdukt">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/HämtaProdukt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KollaKund">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/KollaKund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopListGames">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/GetTopListGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NyOrder">
      <soap:operation soapAction="http://tempuri.org/ISpelAffarService/NyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpelAffarService">
    <wsdl:port name="BasicHttpBinding_ISpelAffarService" binding="tns:BasicHttpBinding_ISpelAffarService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpelAffarWCF/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>