SpelAffaren/SpelAffaren/Service References/SpelAffarService/SpelAffarWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpelAffarWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpelAffarWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduktDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProduktDto" nillable="true" type="tns:ProduktDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduktDto" nillable="true" type="tns:ArrayOfProduktDto" />
  <xs:complexType name="ProduktDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beskrivning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beställningar" type="xs:int" />
      <xs:element minOccurs="0" name="Betyg" type="xs:double" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenreDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Konsoler" nillable="true" type="tns:ArrayOfKonsolDto" />
      <xs:element minOccurs="0" name="Multiplayer" type="xs:boolean" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pris" type="xs:double" />
      <xs:element minOccurs="0" name="Singleplayer" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpelPerOrders" nillable="true" type="tns:ArrayOfSpelPerOrderDto" />
      <xs:element minOccurs="0" name="Utgivare" nillable="true" type="tns:UtgivareDto" />
      <xs:element minOccurs="0" name="Utgivningsår" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProduktDto" nillable="true" type="tns:ProduktDto" />
  <xs:complexType name="ArrayOfGenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDto" nillable="true" type="tns:GenreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDto" nillable="true" type="tns:ArrayOfGenreDto" />
  <xs:complexType name="GenreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produkter" nillable="true" type="tns:ArrayOfProduktDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDto" nillable="true" type="tns:GenreDto" />
  <xs:complexType name="ArrayOfKonsolDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KonsolDto" nillable="true" type="tns:KonsolDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKonsolDto" nillable="true" type="tns:ArrayOfKonsolDto" />
  <xs:complexType name="KonsolDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produkter" nillable="true" type="tns:ArrayOfProduktDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KonsolDto" nillable="true" type="tns:KonsolDto" />
  <xs:complexType name="ArrayOfSpelPerOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpelPerOrderDto" nillable="true" type="tns:SpelPerOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpelPerOrderDto" nillable="true" type="tns:ArrayOfSpelPerOrderDto" />
  <xs:complexType name="SpelPerOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antal" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="SpelId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpelPerOrderDto" nillable="true" type="tns:SpelPerOrderDto" />
  <xs:complexType name="UtgivareDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Namn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produkter" nillable="true" type="tns:ArrayOfProduktDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtgivareDto" nillable="true" type="tns:UtgivareDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Efternamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Förnamn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LogOnEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lösenord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ordrar" nillable="true" type="tns:ArrayOfOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDto" nillable="true" type="tns:ArrayOfOrderDto" />
  <xs:complexType name="OrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kommentar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="SpelPerOrders" nillable="true" type="tns:ArrayOfSpelPerOrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDto" nillable="true" type="tns:OrderDto" />
</xs:schema>