SpelAffaren/SpelAffaren/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpelAffarWCF" />
  <xs:import schemaLocation="http://localhost:2112/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="HämtaProduktViaGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaProduktViaGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="HämtaProduktViaGenreResult" nillable="true" type="q1:ArrayOfProduktDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaProdukter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaProdukterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="HämtaProdukterResult" nillable="true" type="q2:ArrayOfProduktDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaProdukt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produktId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HämtaProduktResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="HämtaProduktResult" nillable="true" type="q3:ProduktDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KollaKund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logOnEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lösenord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KollaKundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="KollaKundResult" nillable="true" type="q4:PersonDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopListGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="antal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopListGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="GetTopListGamesResult" nillable="true" type="q5:ArrayOfProduktDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NyOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kundId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="produkter" nillable="true" type="q6:ArrayOfint" />
        <xs:element minOccurs="0" name="kommentar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NyOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="NyOrderResult" nillable="true" type="q7:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SpelAffarWCF" minOccurs="0" name="GetAllGenreResult" nillable="true" type="q8:ArrayOfGenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>